$height : 600px;
$width : 600px;


$actionBarHeight: 45px;



$linkColor: #D8E20E;
$primaryBackgroundColor: lighten(#3777BC, 5);
$primaryColor: #fff;

$secondaryColor: #44C8F5;
$secondaryBackgroundColor: #44C8F5;

